@media (max-width: 1199px){
h1{
   font-size: 50px;
   line-height: 55px;
}
.searchbar{
    width: 815px;
}
.sales-and-investment, .sales-and-investment-detail, .register,.mining-project {
    width: auto;
}
.owl-carousel .owl-nav .owl-prev {
    top: 26%;
}
.owl-carousel .owl-nav .owl-next{
    top: 25%;
}
.footer-head{
    padding-bottom: 4px;
}

.miningassets, .projects, .commodities, .miningprojects, .customers, .footer{
    padding: 80px 0px
}


}
@media (max-width: 991px){
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-toggler {
    font-size: 20px;
}
.mine-x-logo{
    width: 170px;
    height: 54px;
}
h1{
    font-size: 40px;
    width: 700px;
    line-height: 50px;
}
.searchbar{
    width: 100%;
    padding: 10px;
}
input{
    width: 100%;
}
::placeholder{
    font-size: 15px;
}
.filterbtn {
    padding: 10px 0px;
    width: 115px;
}
.searchbtn{
    padding: 10px 0px;
    width: 115px;
}

.discover{
    font-size: 17px;
    line-height: 26px;
}
h5{
    font-size: 25px;
    line-height: 27px;
}
.view-all-btn {
    line-height: 17px;
    padding: 8px 0px;
    width: 100px;
}
.features {
    padding-bottom: 24px;
}
.date {
    line-height: 15px;
}
.about-project {
    font-size: 17px;
    line-height: 25px;
    height: auto;
}
.product-detail{
    padding-top: 12px
}
.countries{
    padding-bottom: 8px;
}
.owl-carousel .owl-nav .owl-prev{
    top: 28%;
}
.owl-carousel .owl-nav .owl-next{
    top: 27%;
}

.customers{
    padding: 50px 0px;
}
.buyer-and-seller {
    padding-bottom: 25px;
}
.detailed-step {
    padding-left: 32px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.procedure {
    padding: 30px 0px;
    gap: 15px;
}
.overview {
    font-size: 17px;
    line-height: 25px;
}
.overview-and-project {
    gap: 8px;
    padding: 13px 0px;
    border-left: 5px solid #C55A11;
}
.detailed-step {
    padding-left: 27px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.register {
    font-size: 17px;
    line-height: 23px;
}
.procedure {
    padding: 25px 0px;
    gap: 10px;
}
.details {
    font-size: 17px;
    line-height: 26px;
}
.list-your-project-btn {
    line-height: 17px;
    padding: 10px 20px;
    font-size: 15px;

}
.how-it-works-btn{
    line-height: 17px;
    padding: 10px 20px;
    white-space: no-wrap;
    font-size: 15px;

}
.sales-and-investment {
    margin-top: 20px;
    margin-bottom: 8px;
}
.sales-and-investment-detail {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
}
.projects-btn {
    font-size: 12px;
    padding: 8px 0px;
    width: 140px;

}
.mining-project-ctn{
    gap: 60px;
}

.demo {
    padding: 0px ;
}
.navbuttons {
    gap: 12px;
}
.signin {
    line-height: 18px;
    padding: 8px 0px;
}
.join {
    line-height: 18px;
    padding: 8px 0px;
}
.mining-logo{
    display: flex;
    justify-content: center;
}
.miningassets, .projects, .commodities, .miningprojects, .customers, .footer{
    padding: 60px 0px
}
}

@media (max-width: 767px){
    h1{
        font-size: 35px;
        width: 500px;
        line-height: 45px;
    }
    .searchbar{
        /* width: 500px; */
        padding: 8px;
        bottom: -30px;
    }
    ::placeholder{
        font-size: 15px;
    }
    .filter-icon{
        width: 20px;
        height: 19px;
    }
    .bi-search{
        font-size: 16px;
    }
    .filterbtn {
        padding: 8px 0px;
        width: 100px;
        margin-right: 6px;
    }
    .searchbtn{
        padding: 8px 0px;
        width: 100px;
    }

    .discover{
        font-size: 17px;
        line-height: 26px;
    }
    h5{
        font-size: 27px;
        line-height: 35px;
    }
    .view-all-btn {
        line-height: 17px;
        padding: 10px 0px;
        width: 115px;
    }
    .features {
        padding-bottom: 24px;
    }
    .date {
        font-size: 12px;
        line-height: 15px;
    }
    .about-project {
        font-size: 17px;
        line-height: 25px;
        height: auto;
    }
    .country {
        font-size: 13px;
        line-height: 18px;
        padding-left: 8px;
    }
    .price {
        font-size: 13px;
        line-height: 18px;
        padding-left: 8px;
    }
    .location{
        height: 18px;
        width: 18px;
    }
    .dollar{
        height: 18px;
        width: 18px;
    }
    .product-detail{
        padding-top: 12px
    }
    .countries{
        padding-bottom: 8px;
    }
    .owl-carousel .owl-nav .owl-prev{
        top: 34%;
    }
    .owl-carousel .owl-nav .owl-next{
        top: 34%;
    }
    .miningassets, .projects, .commodities, .miningprojects, .customers, .footer{
        padding: 40px 0px
    }
    .details {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 575px){
    .mine-x-logo{
        width: 160px;
        height: 45px;
    }
    .miningassets {
        padding: 60px 0px
    }
    h1{
        font-size: 30px;
        width: auto;
        line-height: 40px;
    }
    h5 {
        font-size: 20px;
        line-height: 23px;
    }
    .discover {
        font-size: 16px;
        line-height: 20px;
    }
    .view-all-btn {
        line-height: 15px;
        padding: 8px 12px;
        width: auto;
        font-size: 14px;
    }
    .features {
        padding-bottom: 10px;
    }
    .overview-and-project {
        gap: 5px;
        padding: 8px 0px;
        border-left: 5px solid #C55A11;
    }
    .detailed-step {
        padding: 18px 0px;
        padding-left: 20px;
    }
    .register {
        font-size: 15px;
        line-height:20px;
    }
    .procedure {
        padding: 18px 0px;
        gap: 8px;
    }
    .details {
        font-size: 15px;
        line-height: 20px;
        align-self: center;
    }
    .list-your-project-btn {
        line-height: 15px;
        padding: 9px 15px;
        font-size: 14px;
        margin-right: 5px;
    }
    .how-it-works-btn {
        line-height: 15px;
        padding: 9px 15px;
        white-space: no-wrap;
        font-size: 14px;
       
    }
    .buyer-and-seller {
        padding-bottom: 10px;
    }
    .sales-and-investment {
        margin-top: 12px;
        margin-bottom: 10px;
        line-height: 20px;
        font-size: 18px;
    }
    .card {
        padding: 18px;
    }
    .sales-and-investment-detail {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 12px;
    }
    .projects-btn {
        padding: 6px 6px;
        width: auto;
    }
    .searchbar{
        padding: 6px;
        bottom: -24px;
    }
    ::placeholder{
        font-size: 14px;
    }
    .filter-icon{
        width: 18px;
        height: 17px;
    }
    .bi-search{
       font-size: 16px;
       padding: 0px 8px;
    }
    .filterbtn {
        padding: 5px 0px;
        width: 70x;
        margin-right: 4px;
        font-size: 14px;
    }
    .searchbtn{
        padding: 5px 0px;
        width: 70px;
        font-size: 14px;
    }
    input{
        font-size: 14px;
    }
    .owl-carousel .owl-nav .owl-prev{
        top: 36%;
        left: -15px ;      
    }
    .owl-carousel .owl-nav .owl-next{
        top: 36%;
        right: -15px ;
    }

    .linkedin {
        height: 40px;
        width: 40px;
    }
    .linked-icon{
        height: 20px;
        width: 20px
    }
    .footer-icon-head{
        width: 200px;
        height: 65px;
    }
    .miningassets,.miningprojects, .customers, .footer{
        padding: 30px 0px;
    }
    .commodities{
        padding-top: 30px;
        padding-bottom: 15px;
    }
    .projects{
        padding-top: 40px ;
        padding-bottom: 15px;
    }
    .product-and-date {
        padding-bottom: 0px;
    }
    .product-detail {
        padding-top: 10px;
    }
    .countries {
        padding-bottom: 7px;
    }
    .signin {
        line-height: 16px;
        padding: 6px 0px;
        width: 80px;
    }
    .join {
        line-height: 16px;
        padding: 6px 0px;
        width: 80px;
    }
    .navbar-toggler {
        font-size: 13px;
    }
    .top-up{
        right: 30px;
        padding: 5px;
        height: 36px;
        width: 35px;
    }
    
}