body{
    font-family: Poppins;
}
.grey{
    color: #84848E;
}
.navigation{
    background-color: #22222B;
}
.mini-x-logo{
    width: 185px;
    height: 54px;
}
.fa-bars{
    color: #3C3C4C;
    font-size: 20px;
    width: auto;
    height: auto;
}
.fa-bars:before {
    font-size: 18px;
}
.fa-bars:hover, .fa-bars:focus{
    color: #FAF3E5;
}
.navbar-toggler{
    background-color: white;
}
.navbar-toggler:hover, .navbar-toggler:focus {
    background-color: #C55A11;
}
.navbar-toggler-icon {
    background-image: none;
    color: none;
}
.workingmodel{
    color: rgba(177, 177, 183, 1);
}
.navbuttons{
    gap: 18px;
}
.demo{
    padding: 0px 24px;
}
.signin{
   background-color: #3C3C4C;
   color: #FAF3E5;
   line-height: 20px; 
   font-size: 14px;
   padding: 8px 0px;
   width: 92px;

}
.signin:hover{
    background-color: #C55A11;
    color: #FAF3E5;
}

.join{
   background-color: #FAF3E5;
   color: #3C3C4C;
   font-size: 14px;
   line-height: 20px; 
   padding: 8px 0px;
   width: 92px;
}
.join:hover{
    background-color: #C55A11;
    color: #FAF3E5;
}
.miningassets{
    background-color: rgba(27, 27, 34, 1);
    background-image: url('/assets/images/mining-background.png');
    padding-top: 99px;
    padding-bottom: 101px;
    background-size: cover;
}
.leadingmarketplace{
    bottom: -36px;
}
h1{
  color: #FAF3E5;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: -1.08px;
  width: 864px;
}
.for-mining-assets{
    color: #C55A11;
}
.searchbar{
    width: 1000px;
    padding: 12px;
    background-color: #fff;
    border-top: 1px solid #B1B1B7;
    border-radius: 14px;
    box-shadow: 0px 24px 32px 0px rgba(0, 0, 0, 0.04), 0px 16px 24px 0px rgba(0, 0, 0, 0.04), 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);
    bottom:-36px;
}
::placeholder{
    font-size: 16px;   
}
input{
    border: none;
    width: 100%;
    /* padding:0px 215px; */
    color: #ABABB2;
    overflow: hidden;
    text-overflow: ellipsis;
}
input:focus, input:focus-within{
    outline-offset: 0;
    outline: none;
}
.bi-search{
    padding:0px 12px;
    font-size: 17px;
}
.search{
    
    gap:12px;
}
.filter-icon{
    width: 25px;
    height: 24px;
    font-size: 16px;
}
.filterbtn{
    color:#3C3C4C;
    background-color: #EBEBED;
    border-radius: 8px;
    padding: 12px 0px;
    width: 125px;
    margin-right: 14px;
}
.filterbtn:hover{
    background-color: #C55A11;
    color: #FAF3E5;
}
.searchbtn{
    color: #F9EFE7;
    background-color: #3C3C4C;
    border-radius: 8px;
    padding: 12px 0px;
    width: 125px;
    font-size: 16px;
}
.searchbtn:hover{
    background-color: #C55A11;
    color: #FAF3E5;
}

.projects{
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.features{
    padding-bottom: 28px;
}
.discover{
    font-size: 18px;
    line-height: 28px;
    color: #8A8A94;
}
h5{
    color: #3C3C4C;
    font-size: 30px;
    line-height: 38px;
}
.view-all-btn{
    line-height: 24px;
    border-radius:  8px;
    background-color: #3C3C4C;
    color: #FAF3E5;
    padding: 12px 0px;
    width: 119px;
    font-size: 16px;
}
.view-all-btn:hover{
    background-color: #C55A11;
    color: #FAF3E5;
}
.product-and-date{
    padding-bottom: 6px;
}
.sold{
    color:  #3C3C4C;
    font-weight: 600;
    font-size: 12px;
    line-height: 21.6px; 
    letter-spacing: -0.36px;
    padding: 0px 4px;
    gap: 6px;
    border-radius: 4px;
    border: 0.8px  #D8D8DB;
    background:  #FFF;
    top: 10px;
    left: 10px;
}

.for-sale-color{
    background-color:  #5856D6;
    border: 1px solid #5856D6; 
}
.farm-in-color{
    background-color:  #619A2A;
    border: 1px solid #619A2A; 
}
.join-venture{
    background-color:  #E0D400;
    border: 1px solid #E0D400; 
}
.label{
    border-radius: 100px;
    width: 10px;
    height: 10px;
}
.sold-img-color{
    background-color:  #D54F48;
    border: 1px solid #D54F48; 
}
.product{
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
}
.date{
    font-size: 12px;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.about-project{
    color: #3C3C4C;
    font-size: 18px;
    line-height: 28px;
    height: 56px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0px;
}
.location{
    height: 20px;
    width: 20px;
}
.dollar{
    height: 20px;
    width: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.country{
    font-size: 14px;
    line-height: 20px;
    padding-left: 8px;
}
.price{
    font-size: 14px;
    line-height: 20px;
    padding-left: 8px;
}
.product-detail{
    padding-top: 16px;
}
.countries{
    padding-bottom: 12px;
}
.owl-carousel .owl-nav .owl-prev{
    position: absolute !important;
    top:25% ;
    left: -25px ;
    transform: translateY(-50%)  !important;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: #fff !important;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 24px 32px 0px rgba(0, 0, 0, 0.04), 0px 16px 24px 0px rgba(0, 0, 0, 0.04), 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);
}
.owl-carousel .owl-nav .owl-next{
    position: absolute !important;
    top:25% ;
    right: -25px ;
    transform: translateY(-50%)  !important;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: #fff !important;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 24px 32px 0px rgba(0, 0, 0, 0.04), 0px 16px 24px 0px rgba(0, 0, 0, 0.04), 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);
}
.commodities{
    padding: 100px 0px;
    background-color: #F5F5F6;
}
.miningprojects{
    background-color: #FFF;
    padding: 100px 0px;
}
.overview{
    font-size: 18px;
    line-height: 28px;
    color: #8A8A94;
}
.mining-project{
    width: 468px;
}
.overview-and-project{
   gap: 10px;
   padding: 17px 0px;
   border-left: 8px solid #C55A11;
}
.register{
    color: #5F5F6C;
    font-size: 18px;
    line-height: 28px;
    width: 451px;
}
.detailed-step{
    padding-left: 32px;
    padding-top: 46px;
}
.procedure{
    padding: 46px 0px;
    gap: 18px;
}
.steps{
    border-radius: 6px;
    background-color: #F9EFE7;
    padding: 6px 18px;
    color: #C55A11;
    font-size: 14px;
    line-height: 20px;
    margin-right: 23px;
}
.details{
    color: #5F5F6C;
    font-size: 18px;
    line-height: 34px; 
}
.list-your-project-btn{
    color:#F9EFE7;
    line-height: 24px; 
    background-color: #3C3C4C;
    border-radius: 8px;
    padding: 12px 24px;
    margin-right: 12px;
    font-size: 16px;
}
.list-your-project-btn:hover{
    color: #FAF3E5;
    background-color: #C55A11;
}
.how-it-works-btn{
    color: #3C3C4C;
    line-height: 24px;
    background-color: #EBEBED;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 16px;
    white-space: nowrap;
}
.how-it-works-btn:hover{
    color: #FAF3E5;
    background-color: #C55A11;
}
.mining-img{
    /* padding-top: 73px;
    padding-right: 65px; */
}
.mining-project-logo{
    top: -73px;
    right: 0px;
    height: 200px;
    width: 200px;
}
.mining-logo{
    padding-top: 17px;
    padding-right: 65px;
}
.customers{
    padding: 100px 0px;
    background-color: #F5F5F6;
}
.buyer-and-seller{
    padding-bottom: 38px;
}
.card{
    padding: 24px;
}
.sales-and-investment{
   color: #3C3C4C;
   font-size: 20px;
   line-height: 30px;
   width: 308px;
   margin-top: 25px;
   margin-bottom: 12px;
}
.sales-and-investment-detail{
    color: #8A8A94;
    font-size: 14px;
    line-height: 20px;
    width: 308px;
    margin-bottom: 38px;
}
.projects-btn{
    color: #F9EFE7;
    font-size: 12px;
    line-height: 18px;
    background-color: #3C3C4C;
    border-radius:  8px;
    padding: 10px 0px;
    width: 143px;
    gap: 6px;
}
.projects-btn:hover{
   background-color: #C55A11;
   color: #FAF3E5;
}
.footer{
    padding-top: 68px;
    padding-bottom: 61px;
    background-color: #22222B;
}
.reserve{
   color: rgba(255, 255, 255, 0.4);
   font-size: 14px;
   line-height: 20px;
}
.footer-head{
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.4);
    padding-bottom: 12px;
}
.footer-link{
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 20px; 
}
.footer-ctn{
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 20px;
}
.linkedin{
    border: 1px solid #CF783C;
    height: 50px;
    width: 50px;
}
.linkedin:hover{
    background-color: #dadada;
}
.linked-icon{
    height: 24px;
    width: 24px
}
.footer-icon-head{
    width: 275px;
    height: 81px;
}
.bi-arrow-up{
    color: #C55A11;
}
.top-up{
    border: 1px solid #C55A11; 
    padding: 5px;
    height: 41px;
    width: 40px;
    right: 40px;
    margin-bottom: 15px;
    z-index:2;
    background-color: #fff;
}
.bi-chevron-left::before{
    color:black;
}
.bi-chevron-right::before{
    color:black;
}




